<template name="forgotpassword">	
	<form >
	 {{#if errorMessages}}
            <div class="list-errors">
              {{#each errorMessages}}
                <div class="list-item">{{this}}</div>
              {{/each}}
            </div>
     {{/if}}
      	<div class="input-symbol {{errorClass 'email'}}">
            <input id="recovery-email" type="text" name="email" placeholder="Email Address">
            <span class="icon-email" title="Your Email"></span>
        </div>      
      <input class="btn-submit" type="submit" value="Send" >
    </form>
</template>