<template name="signin">  
   <div class="panel panel-primary panel-user-account">
       <div class="panel-heading">
            <h3 class="panel-title">Sign in</h3>
       </div>
       <div class="panel-body">
           <form class="form-horizontal" role="form">
                 {{#if errorMessages}}
                      <div class="list-errors">
                        {{#each errorMessages}}
                          <div class="alert alert-danger" role="alert">{{this}}
                          </div>
                        {{/each}}
                      </div>
                  {{/if}}            
                  <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                      <input type="email" class="form-control" name="email" value="" placeholder="email">                
                   </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>                
                      <input type="password" class="form-control" name="password" value="" placeholder="Password">                
                   </div>
                 <span class="input-group-btn pull-right btn-sign-in">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                 </span>

            </form>
       </div>
       <div class="panel-footer">
          <div class="btn-group-vertical">
            <a href="{{pathFor 'signup'}}" class="link-auth-alt">Need an account? Join Now.</a>
            <a href="{{pathFor 'forgotpassword'}}" class="link-pwd-recovery">Request of password recovery</a> 
          </div>
       </div>
   </div>
</template>